[alias]
    # `git wip` will show all open branches along with info on how long they have been open
    wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
