# Colours that work for my colour-blindness!!
[color]
        branch = auto
        diff = auto
        status = auto
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green
[color "diff"]
        meta = yellow bold
        frag = yellow reverse
        old = cyan bold
        new = green bold
[color "status"]
        added = yellow
        changed = green
        untracked = cyan

# Handy command aliases
[alias]
    # Convenience shorteners
    c = commit -m
    s = status -sb
    d = diff
    co = checkout
    br = branch
    cane = commit --amend --no-edit
    lo = log --oneline -n 10
    last = log -1 HEAD --stat
    pr = pull --rebase
    mf = merge --ff-only

    # `git wip` will show all open branches along with info on how long they have been open
    wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
    
    # `git se <search string>` searches within all commits
    se = !git rev-list --all | xargs git grep -F
    
    # `git ahead` shows all unpushed commits to main
    ahead = log --stat origin/main..HEAD
    
    # `git behind` shows all unmerged changes that have been fetched from origin/main
    behind = log main..origin/main
